*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}


#padre{
    width: 100%;
    min-height: 100vh;
    background-color: blueviolet;
}

#ficha{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;

    /*Este es el contenedor padre que contiene los campos de la ficha
    está dentrro del formulario y no tiene color A PRIORI*/
}

/*De aqui para arriba no se toca*/

#config{
    width: 21vh;
    height: 70vh;
    margin-top: 5vh;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

#race{
    width: 18vh;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 1.5vh;
    background-color: white;
}

#subrace{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: darkgrey;
}

#class{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: gray;
}

#background{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: darkslategray;
}

#abilities{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: black;
}

#mainscreen{
    width: 58vh;
    height: 90vh;
    margin-left: 5px;
    margin-top: 5vh;
    background-color: red;
}

#book{
    width: 71vh;
    height: 98vh;
    margin-left: 5px;
    background-color: coral;
}

#charsheet{
    width: 36vh;
    height: 90vh;
    margin-left: 5px;
    margin-top: 5vh;
    background-color: aquamarine;
}

/*De aqui abajo no se toca*/

.fields{
    width: 99%;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
}


header{
    font-size: large;
    background-color: darkgrey;
}

#cabecera{
    background-color: darkslategrey;
    text-align: center;
    width: 100%;
}

#pieDePagina{
    background-color: darkgray;
    /*Al footer no se le pone altura para que vaya adaptandola sola y no hayan espacios en blanco
    los divs van ANTES DE LA ETIQUETA FOOTER*/
}

@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url();
}
#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}