*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100dvh;
}

header{
    font-size: large;
    background-image: url("/recursos/bannerPrincipal.png");
    box-shadow: 2px 4px 20px;

}


#padre{
    width: 100%;
    min-height: 100vh;
    background-image: url("/recursos/backgroundDnD.png");
}

#ficha{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;

    /*Este es el contenedor padre que contiene los campos de la ficha
    está dentrro del formulario y no tiene color A PRIORI*/
}

/*De aqui para arriba no se toca*/

#config{
    width: 21vh;
    height: 70vh;
    margin-top: 5vh;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.race{
    width: 18vh;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 1.5vh;
    background-color: white;
}

.subrace{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: rgb(255, 193, 79);
}

.class{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: gray;
}

.background{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: darkslategray;
}

.abilities{
    width: 18vh;
    height: 5vh;
    margin-left: 1.5vh;
    background-color: black;
}

#mainscreen{
    width: 58vh;
    height: 90vh;
    margin-left: 5px;
    margin-top: 5vh;



    background: RGBA(11,8,9,255);
    background: linear-gradient(145deg,rgba(11, 8, 9, 1) 0%, rgba(23, 19, 13, 1) 50%, rgba(18, 20, 21, 0.68) 100%);    /*cambios*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center; 
}

#grupoSelectorPersonaje{
    width: 58vh;
    height: 45vh;
    margin-left: 5px;
    margin-top: 1vh;

    /*cambios*/
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    justify-content: center; 
}

#botonClases{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
#botonClases:focus{
    outline: none;
}
#grupoSelectorPersonaje button {
    background-color: transparent; /* Fondo transparente */
    border: 2px solid transparent; /* Borde transparente por defecto */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grupoSelectorPersonaje button.botonSeleccionado {
    border: 2px solid rgb(255, 216, 157); /* Borde negro cuando es seleccionado */
}


.botonSeleccionado {
    border: 2px solid #030100; 
}
.casillaSelectorPersonaje {
    width: 120px;
    height: 145px;
    text-align: center;
}

.textoClases{
    text-align: center;
}

#book{
    width: 71vh;
    height: 98vh;
    margin-left: 5px;
    background-color: coral;
}

#charsheet{
    width: 36vh;
    height: 90vh;
    margin-left: 5px;
    margin-top: 5vh;
    background-color: aquamarine;
}

/*De aqui abajo no se toca*/

.fields{
    width: 99%;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
}


header{
    font-size: large;
    background-color: darkgrey;
}

#cabecera{
    background-image: url("/recursos/bannerPrincipal.png");
    text-align: center;
    width: 100%;   
}

footer{
    background-image: url("/recursos/backgroundDnD.png");
}


@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url();
}
#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}

@media only screen and (orientation: portrait){
    #config{
        width: 9vh;
        height: 70vh;
        margin-top: 5vh;
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}