*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100dvh;
}

header{
    font-size: large;
    background-image: url("/recursos/bannerPrincipal.png");
    box-shadow: 2px 4px 20px;

}

footer{
    background-image: url("/recursos/backgroundDnD.png");

}

#cabecera{
    background-image: url("/recursos/bannerPrincipal.png");
    text-align: center;
    width: 100%;
}

@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url(../fonts/MiddleEarthPersonalUseRegular-axlP5.otf);
}
#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}

#parrafoExplicacion{
    width: 30%;
    height: max-content;
    background: #CCA870;
    background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
}


#indexPadre{
    width: 100%;
    min-height: 100vh;
    background-image: url("/recursos/backgroundDnD.png");
}

#parrafoDnD{
    text-wrap: wrap;
}

#alinearParrafo{
    display: flex;
    padding: 10px
}

#parrafoExplicacion{
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}

#botones{
    text-align: center;
}

#delante{
    font-size: 25px;
    width: 33.33%;
    cursor: pointer;
}

#atras{
    font-size: 25px;
    width: 33.33%;
    cursor: pointer;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#parrafoDados{
    margin-left: 10px;
    margin-top: 125px;
    padding: 10px;
    border-radius: 25px;
    width: 40%;
    height: fit-content;
    margin-bottom: 10px;
    background: #CCA870;
    background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
}

#expansiones{
    padding: 10px;
    border-radius: 25px;
    width: 54%;
    margin-bottom: 10px;
    background: #CCA870;
    background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
}

#parrafoClases{
    margin-left: 10px;
    padding: 10px;
    width: 97%;
    border-radius: 25px;
    margin-bottom: 10px;
    background: #CCA870;
    background: linear-gradient(0deg,rgba(204, 168, 112, 0.98) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
}

#listaClases li{
    display: inline-flex;
}

#estructuraEstilo{
    width: min-content; 
    background: #CCA870;
    background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
    top: 50%;
    left: 45%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    position: fixed;
    border-radius: 20px;
}

#estiloTituloClasesJS{
    font-family: fuenteDnD;
    color: #B83236;
}

#estiloParrafoClasesJS{
    font-family: fuenteMinusDnD;
    color: #B83236;
    font-weight: bold;
    text-wrap: wrap;
}

.classHover{
    transition: cubic-bezier(1, 0, 0, 1) 0.3s;
}

.classHover:hover{
    transform: scale(1.3);
    transition: ease-in;
    cursor: pointer;
}

#botonCerrar:hover{
    cursor: pointer;
}

#botonCerrar{
    background-color: #B83236;
    margin-left:0;
    border-radius: 200px;
    width: 50px;    
}

#flexInput{
    display: flex;
    flex-direction: row-reverse;
}


@media only screen and (orientation: portrait){
    #parrafoExplicacion{
        margin-top: 10px;
        width: 95%;
        height: max-content;
        background: #CCA870;
        background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
        margin-left: auto;
        margin-right: auto;
    }

    #parrafoDados{
        background: #CCA870;
        background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
        border-radius: 25px;
        width: 90%;
        height: fit-content;
        margin-bottom: 10px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #expansiones{
        padding: 10px;
        border-radius: 25px;
        width: 90%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background: #CCA870;
        background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);    
    }

    #parrafoClases{
        padding: 10px;
        width: 90%;
        border-radius: 25px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background: #CCA870;
        background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);    
    }

    #listaClases li{
        display: inline-flex;
        width: 19%;
        margin-left: auto;
        margin-right: auto;
    }

    #estructuraEstilo{
        width: min-content; 
        background: #CCA870;
        background: linear-gradient(0deg,rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
        left: 40%;
        transform: translateX(-50%);
        z-index: 9999;
        position: fixed;
        border-radius: 20px;
    }
    
}