#cabecera{
    background-image: url("/recursos/bannerPrincipal.png");
    text-align: center;
    width: 100%;
}

html, body{
    height: 100dvh;
}

header{
    font-size: large;
    background-image: url("/recursos/bannerPrincipal.png");
    box-shadow: 2px 4px 20px;

}

footer{
    background-image: url("/recursos/backgroundDnD.png");

}

