*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

header{
    font-size: large;
    background-color: darkgrey;
}

#cabecera{
    background-color: darkslategrey;
    text-align: center;
    width: 100%;
}

#parrafoExplicacion{
    width: 30%;
    height: max-content;
    background-color: darkgray;
}


#indexPadre{
    width: 100%;
    min-height: 100vh;
    background-color: blueviolet;
}


#pieDePagina{
    background-color: darkgray;
    /*Al footer no se le pone altura para que vaya adaptandola sola y no hayan espacios en blanco
    los divs van ANTES DE LA ETIQUETA FOOTER*/
}

#parrafoDnD{
    text-wrap: wrap;
}

@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url(../fonts/MiddleEarthPersonalUseRegular-axlP5.otf);
}
#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}

#alinearParrafo{
    display: flex;
    padding: 10px
}

#parrafoExplicacion{
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}