body.opera .mi-componente {
  html, body {
    height: 100vh;
    height: 100dvh; /* fallback + moderno */
}

#parrafoDnD,
#estiloParrafoClasesJS {
    overflow-wrap: break-word;
}

#estructuraEstilo {
    position: fixed; /* o absolute si está en un contenedor relative */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: min-content;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(204, 168, 112, 0.56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
}
body.opera #estructuraEstilo {
    top: 55%; /* ajuste fino */
}

}