*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100dvh;
}

header{
    font-size: large;
    background-image: url("/recursos/bannerPrincipal.png");
    box-shadow: 2px 4px 20px;
}

#padreEnemigos{
    width: 100%;
    min-height: 100vh;
    background-image: url("/recursos/backgroundDnD.png");
}


#cabecera{
    background-image: url("/recursos/bannerPrincipal.png");
    text-align: center;
    width: 100%;    
}

footer{
    background-image: url("/recursos/backgroundDnD.png");
}


@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url();
}
#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}

#contenidoEnemigos{
    width: 20%;
    position: relative;
    left: 100px;
    top: 100px;
    background-color: black;
    display: flex;
}