*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100dvh;
}

header{
    font-size: large;
    background-image: url("/recursos/bannerPrincipal.png");
    box-shadow: 2px 4px 20px;
}

#padreEnemigos{
    width: 100%;
    min-height: 100vh;
    background-image: url("/recursos/backgroundDnD.png");
}


#cabecera{
    background-image: url("/recursos/bannerPrincipal.png");
    text-align: center;
    width: 100%;    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

#enlacePrincipal, #enlaceWiki, #enlaceCreador{
    color: #B83236;
    font-family: fuentesEnlace;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 1px 1px #631924;
    text-decoration: none;
}

#enlacePrincipal:hover, #enlaceWiki:hover, #enlaceCreador:hover{
    transform: scale(1.1);
    color: #ffffff;
    text-shadow: 3px 2px 3px #631924;
}

footer{
    background-image: url("/recursos/backgroundDnD.png");
}


@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url(../fonts/MiddleEarthPersonalUseRegular-axlP5.otf);
}
@font-face {
    font-family: fuentesEnlace;
    src: url(../fonts/Draconis-JRw6B.ttf) format('opentype');
}

@font-face {
    font-family: fuenteWikiEnemigos;
    src: url(../fonts/Vecna-oppx.ttf);
}

#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}

.estiloLista{
    position: relative;
    list-style-position: inside;
    padding-left: 10px;
    list-style: none;
    font-family: fuenteWikiEnemigos; /*Este es el estilo del título de la lista*/
}


.contenidoEnemigos{
    width: 30%;
    height: 300px;
    position: relative;
    left: 100px;
    top: 100px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 20px;
}

.estiloBotonLista{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    padding-top: 10px;
    font-family: fuenteMinusDnD;
}

.estiloBotonLista:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in;
    cursor: pointer;
}

#listas{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#cajaContenido{
    width: 50%;
    height: 50%;
    background: #CCA870;
    background: linear-gradient(0deg,rgba(204, 168, 112, 56) 0%, rgba(221, 185, 124, 1) 53%, rgba(221, 184, 125, 1) 100%);
    margin-left: 110px;
    margin-top: 40px;
    border-radius: 20px;
}

#estiloDivExpl{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row;
    border-style: ridge;
    border-color: #CCA870;
    border-width: 10px;
}

#divImgMons{
    text-align: center;
    vertical-align: middle;
}

#imgJS{
    width: 250px;
}

#tituloJS{
    text-align: center;
    font-family: fuenteDnD;
}

#parrafoJS{
    text-wrap: wrap;
    padding: 10px;
    position: relative;
    font-family: fuenteWikiEnemigos;
    font-size: 19px;
    border-style: groove;
    border-color: #CCA870;
    border-width: 5px;
    border-bottom: none;
}

#spanEnemigos{
    display: block; 
    text-align: center;     
}

.classHover{
    transition: cubic-bezier(1, 0, 0, 1) 0.3s;
}