*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100dvh;
}

header{
    font-size: large;
    background-image: url("/recursos/bannerPrincipal.png");
    box-shadow: 2px 4px 20px;
}

#padreEnemigos{
    width: 100%;
    min-height: 100vh;
    background-image: url("/recursos/backgroundDnD.png");
}


#cabecera{
    background-image: url("/recursos/bannerPrincipal.png");
    text-align: center;
    width: 100%;    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

#enlacePrincipal, #enlaceWiki, #enlaceCreador{
    color: #B83236;
    font-family: fuentesEnlace;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 1px 1px #631924;
    text-decoration: none;
}

#enlacePrincipal:hover, #enlaceWiki:hover, #enlaceCreador:hover{
    transform: scale(1.1);
    color: #ffffff;
    text-shadow: 3px 2px 3px #631924;
}

footer{
    background-image: url("/recursos/backgroundDnD.png");
}


@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url(../fonts/MiddleEarthPersonalUseRegular-axlP5.otf);
}
@font-face {
    font-family: fuentesEnlace;
    src: url(../fonts/Draconis-JRw6B.ttf) format('opentype');
}
#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}

#estiloLista{
    position: relative;
    list-style-position: inside;
    padding-left: 10px;
    list-style: none;
}

#contenidoEnemigos{
    width: 10%;
    height: 300px;
    position: relative;
    left: 100px;
    top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.estiloBotonLista{
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    padding-top: 10px;
}

.estiloBotonLista:hover{
    cursor: pointer;
}