*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

header{
    font-size: large;
    background-color: darkgrey;
}


#padreEnemigos{
    width: 100%;
    min-height: 100vh;
    background-color: purple;
}


#cabecera{
    background-color: darkslategrey;
    text-align: center;
    width: 100%;
}

footer{
    background-color: darkgray;
}


@font-face {
    font-family: fuenteDnD;
    src: url(../fonts/DragonHunter-9Ynxj.otf) format('opentype');
}
@font-face {
    font-family: fuenteMinusDnD;
    src: url();
}
#tituloCabecera{
    color: #B83236;
    font-family: fuenteDnD;
    font-size: 70px;
    font-weight: normal;
    text-shadow: 3px 3px 2px #631924;
}